In [1]:
import pandas as pd

# reading the 2nd sheet(Data)
df = pd.read_excel(r'data\CS Analyst Assignment (20) (2) (1) (1).xlsx', sheet_name = 1, header = 1)

display(df)

,Child Id,Parent Company ID,Date Range,Rev from Product A,Rev from Product B,Rev from Product C,Rev from Product D
0,1,b1,2017-12-01 -> 2017-12-01,0.0,0.19,0.00,0.0
1,2,b1,2017-12-18 -> 2017-12-18,0.0,0.00,0.31,0.0
2,3,b1,2017-12-07 -> 2017-12-07,0.0,0.00,0.46,0.0
3,4,b2,2017-12-24 -> 2017-12-25,0.0,0.00,1.07,0.0
4,5,b3,2017-12-06 -> 2017-12-20,0.0,0.00,1.18,0.0
...,...,...,...,...,...,...,...
465,466,b233,2017-12-22 -> 2017-12-28,0.0,0.00,0.29,0.0
466,467,b234,2017-12-22 -> 2017-12-22,0.0,0.00,0.28,0.0
467,468,b234,2017-12-19 -> 2017-12-28,0.0,0.00,0.26,0.0
468,469,b235,2017-12-01 -> 2017-12-21,0.0,249.44,10169.33,0.0
469,470,b235,2017-12-28 -> 2017-12-28,0.0,0.00,0.04,0.0

In [2]:
# How many types of parents & products exist. List them down

print('There are total',len(df.columns[-4:]), 'products and they are:')
for i in df.columns[-4:]:
    print(i[-9:])
    
parents = list(set(df['Parent Company ID']))
print('\n')
print('There exists a total of',len(parents),'types of parents. And they are:')
parents = sorted([int(u[1:]) for u in parents])
parents = ['b'+str(t) for t in parents]

for p in parents:
    print(p, end=', ')

There are total 4 products and they are:
Product A
Product B
Product C
Product D


There exists a total of 227 types of parents. And they are:
b1, b2, b3, b4, b6, b7, b8, b9, b10, b11, b13, b14, b16, b17, b19, b20, b21, b22, b23, b24, b25, b26, b27, b28, b29, b30, b31, b32, b33, b34, b35, b36, b37, b38, b39, b40, b41, b42, b43, b44, b45, b46, b47, b48, b49, b50, b51, b52, b53, b54, b55, b56, b57, b58, b59, b60, b61, b62, b63, b64, b65, b66, b67, b68, b69, b70, b71, b72, b73, b74, b75, b76, b77, b78, b79, b80, b81, b82, b83, b84, b85, b86, b87, b88, b89, b90, b91, b92, b93, b94, b95, b96, b97, b98, b99, b100, b101, b102, b103, b104, b105, b106, b107, b108, b109, b110, b115, b116, b117, b118, b119, b120, b121, b122, b123, b124, b125, b126, b127, b128, b129, b130, b131, b132, b133, b134, b135, b136, b137, b138, b139, b140, b141, b142, b143, b144, b145, b146, b147, b148, b149, b150, b151, b152, b153, b154, b155, b156, b157, b158, b159, b160, b161, b162, b163, b164, b165, b166, b167, b168, b169, b170, b171, b172, b173, b174, b175, b176, b177, b178, b179, b180, b181, b182, b183, b184, b185, b186, b187, b188, b189, b190, b191, b192, b193, b194, b195, b196, b197, b198, b199, b200, b201, b202, b203, b204, b205, b206, b207, b208, b209, b210, b211, b212, b213, b214, b215, b216, b217, b218, b219, b220, b221, b222, b223, b224, b225, b226, b227, b228, b229, b230, b231, b232, b233, b234, b235,

In [ ]:
parents = list(set(df['Parent Company ID']))
parents = sorted([int(u[1:]) for u in parents])
list(map('b',parents))

In [ ]:
# What is the average total USD rev/parent?

In [3]:
avg_total_li = []

for j in parents:
    df1 = df[df['Parent Company ID'] == j].reset_index(drop=True)

    sum1 = 0

    for o in df1.columns[-4:]:
        sum1 = sum1 + sum(df1[o])

    print('average total USD rev for', j,round(sum1/len(df1),2))
    avg_total_li.append(round(sum1/len(df1),2))
    
df_avg_total = pd.DataFrame()
df_avg_total['Parent Company ID'] = parents
df_avg_total['avg_total_rev'] = avg_total_li
df_avg_total

average total USD rev for b1 3.03
average total USD rev for b2 8.12
average total USD rev for b3 7.36
average total USD rev for b4 22.38
average total USD rev for b6 25.07
average total USD rev for b7 15.82
average total USD rev for b8 8.91
average total USD rev for b9 10.12
average total USD rev for b10 11.31
average total USD rev for b11 13.27
average total USD rev for b13 15.54
average total USD rev for b14 15.63
average total USD rev for b16 19.37
average total USD rev for b17 21.2
average total USD rev for b19 23.01
average total USD rev for b20 23.4
average total USD rev for b21 24.23
average total USD rev for b22 24.79
average total USD rev for b23 620.04
average total USD rev for b24 25.17
average total USD rev for b25 25.75
average total USD rev for b26 26.29
average total USD rev for b27 26.61
average total USD rev for b28 27.34
average total USD rev for b29 29.08
average total USD rev for b30 29.99
average total USD rev for b31 243.14
average total USD rev for b32 32.7
average total USD rev for b33 33.6
average total USD rev for b34 35.26
average total USD rev for b35 37.33
average total USD rev for b36 39.0
average total USD rev for b37 41.61
average total USD rev for b38 47.03
average total USD rev for b39 48.44
average total USD rev for b40 50.41
average total USD rev for b41 52.64
average total USD rev for b42 53.97
average total USD rev for b43 54.52
average total USD rev for b44 55.28
average total USD rev for b45 56.14
average total USD rev for b46 58.59
average total USD rev for b47 59.03
average total USD rev for b48 60.5
average total USD rev for b49 62.0
average total USD rev for b50 65.29
average total USD rev for b51 66.15
average total USD rev for b52 69.97
average total USD rev for b53 71.09
average total USD rev for b54 72.88
average total USD rev for b55 74.38
average total USD rev for b56 75.48
average total USD rev for b57 78.04
average total USD rev for b58 78.75
average total USD rev for b59 79.94
average total USD rev for b60 82.22
average total USD rev for b61 85.62
average total USD rev for b62 87.1
average total USD rev for b63 88.75
average total USD rev for b64 94.56
average total USD rev for b65 98.56
average total USD rev for b66 152.54
average total USD rev for b67 102.97
average total USD rev for b68 106.58
average total USD rev for b69 111.59
average total USD rev for b70 115.19
average total USD rev for b71 118.97
average total USD rev for b72 120.94
average total USD rev for b73 126.13
average total USD rev for b74 131.05
average total USD rev for b75 134.64
average total USD rev for b76 138.64
average total USD rev for b77 140.78
average total USD rev for b78 144.87
average total USD rev for b79 146.91
average total USD rev for b80 156.77
average total USD rev for b81 161.31
average total USD rev for b82 163.5
average total USD rev for b83 166.97
average total USD rev for b84 171.11
average total USD rev for b85 174.28
average total USD rev for b86 178.56
average total USD rev for b87 184.94
average total USD rev for b88 190.03
average total USD rev for b89 192.71
average total USD rev for b90 196.71
average total USD rev for b91 211.69
average total USD rev for b92 216.53
average total USD rev for b93 232.0
average total USD rev for b94 237.44
average total USD rev for b95 243.12
average total USD rev for b96 245.94
average total USD rev for b97 250.53
average total USD rev for b98 265.53
average total USD rev for b99 269.74
average total USD rev for b100 272.92
average total USD rev for b101 278.62
average total USD rev for b102 178.49
average total USD rev for b103 284.13
average total USD rev for b104 292.98
average total USD rev for b105 304.12
average total USD rev for b106 189.5
average total USD rev for b107 311.36
average total USD rev for b108 187.75
average total USD rev for b109 187.23
average total USD rev for b110 269.87
average total USD rev for b115 330.83
average total USD rev for b116 336.93
average total USD rev for b117 342.19
average total USD rev for b118 350.13
average total USD rev for b119 203.22
average total USD rev for b120 359.87
average total USD rev for b121 367.94
average total USD rev for b122 213.29
average total USD rev for b123 383.73
average total USD rev for b124 213.56
average total USD rev for b125 212.93
average total USD rev for b126 214.46
average total USD rev for b127 415.53
average total USD rev for b128 36.2
average total USD rev for b129 420.51
average total USD rev for b130 424.52
average total USD rev for b131 441.29
average total USD rev for b132 457.37
average total USD rev for b133 463.19
average total USD rev for b134 249.59
average total USD rev for b135 468.48
average total USD rev for b136 247.55
average total USD rev for b137 475.96
average total USD rev for b138 255.78
average total USD rev for b139 513.55
average total USD rev for b140 545.9
average total USD rev for b141 660.16
average total USD rev for b142 720.27
average total USD rev for b143 743.49
average total USD rev for b144 756.41
average total USD rev for b145 402.12
average total USD rev for b146 788.41
average total USD rev for b147 803.18
average total USD rev for b148 20.49
average total USD rev for b149 438.88
average total USD rev for b150 458.82
average total USD rev for b151 17.93
average total USD rev for b152 464.45
average total USD rev for b153 943.31
average total USD rev for b154 1017.81
average total USD rev for b155 525.71
average total USD rev for b156 529.66
average total USD rev for b157 592.68
average total USD rev for b158 592.13
average total USD rev for b159 13.27
average total USD rev for b160 590.5
average total USD rev for b161 11.71
average total USD rev for b162 597.17
average total USD rev for b163 683.93
average total USD rev for b164 741.27
average total USD rev for b165 758.01
average total USD rev for b166 784.98
average total USD rev for b167 785.22
average total USD rev for b168 8.11
average total USD rev for b169 7.78
average total USD rev for b170 7.35
average total USD rev for b171 797.69
average total USD rev for b172 833.05
average total USD rev for b173 5.88
average total USD rev for b174 5.7
average total USD rev for b175 5.33
average total USD rev for b176 997.03
average total USD rev for b177 4.95
average total USD rev for b178 4.67
average total USD rev for b179 4.35
average total USD rev for b180 4.34
average total USD rev for b181 1037.95
average total USD rev for b182 4.06
average total USD rev for b183 3.97
average total USD rev for b184 3.74
average total USD rev for b185 3.58
average total USD rev for b186 3.45
average total USD rev for b187 3.27
average total USD rev for b188 3.12
average total USD rev for b189 1053.25
average total USD rev for b190 1185.94
average total USD rev for b191 2.8
average total USD rev for b192 1422.35
average total USD rev for b193 2.5
average total USD rev for b194 2.49
average total USD rev for b195 1493.09
average total USD rev for b196 2.17
average total USD rev for b197 2.17
average total USD rev for b198 1.96
average total USD rev for b199 1.9
average total USD rev for b200 1.88
average total USD rev for b201 1.87
average total USD rev for b202 1.57
average total USD rev for b203 1.56
average total USD rev for b204 1.56
average total USD rev for b205 1776.18
average total USD rev for b206 1.31
average total USD rev for b207 1.24
average total USD rev for b208 1.24
average total USD rev for b209 1807.7
average total USD rev for b210 2459.38
average total USD rev for b211 0.99
average total USD rev for b212 0.96
average total USD rev for b213 0.94
average total USD rev for b214 0.94
average total USD rev for b215 0.93
average total USD rev for b216 0.8
average total USD rev for b217 0.71
average total USD rev for b218 0.63
average total USD rev for b219 0.63
average total USD rev for b220 0.62
average total USD rev for b221 0.62
average total USD rev for b222 0.62
average total USD rev for b223 3104.53
average total USD rev for b224 3426.68
average total USD rev for b225 0.31
average total USD rev for b226 0.31
average total USD rev for b227 0.31
average total USD rev for b228 0.31
average total USD rev for b229 0.31
average total USD rev for b230 0.31
average total USD rev for b231 0.31
average total USD rev for b232 0.31
average total USD rev for b233 0.3
average total USD rev for b234 0.27
average total USD rev for b235 5209.41

    Parent Company ID  avg_total_rev
0                  b1           3.03
1                  b2           8.12
2                  b3           7.36
3                  b4          22.38
4                  b6          25.07
..                ...            ...
222              b231           0.31
223              b232           0.31
224              b233           0.30
225              b234           0.27
226              b235        5209.41

[227 rows x 2 columns]

In [ ]:
# What is the average total USD rev/parent if you exclude parents which have revenue only in D product 
# (i.e 0 rev in other products)

In [20]:
dfx = df[(df['Rev from Product D'] > 0) & (df['Rev from Product A'] == 0) & (df['Rev from Product B'] == 0) & (df['Rev from Product C'] == 0) ].groupby('Parent Company ID').mean()

In [23]:
dfx

,Child Id,Rev from Product A,Rev from Product B,Rev from Product C,Rev from Product D
Parent Company ID,,,,,
b102,203.0,0.0,0.0,0.0,75.18
b109,217.0,0.0,0.0,0.0,64.13
b110,227.0,0.0,0.0,0.0,57.98
b124,248.0,0.0,0.0,0.0,41.30
b134,267.0,0.0,0.0,0.0,28.99
...,...,...,...,...,...
b230,459.5,0.0,0.0,0.0,0.31
b231,461.5,0.0,0.0,0.0,0.31
b232,463.5,0.0,0.0,0.0,0.31
b233,465.0,0.0,0.0,0.0,0.31
b66,132.0,0.0,0.0,0.0,204.03